@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body {
    font-family: Ubuntu, Arial;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: #0c3916;
    overflow-y: auto;
    width: 300px;
    transition: all ease-in-out .5s;
    padding: 0px 15px;
    z-index: 9997;
}

#header .profile img {
    margin: 15px auto;
    display: block;
    width: 120px;
    border: 4px solid gray;
    border-radius: 20%;
}

#header .profile h1 {
    font-size: 24px;
    margin: 0;
    padding: 0;
    font-weight: 600;
    text-align: center;
    color: white;
}

#header .profile .social-links a {
    font-size: 1rem;
    background: gray;
    color: white;
    padding: .6rem;
    margin-right: 1rem;
    border-radius: 50%;
    transition: .3s;
    text-decoration: none;
}

#header .profile .social-links a:hover {
    background: #00e46b;
}

.nav-menu {
    padding: 1.5rem;
}

.nav-menu a, .nav-menu a:focus {
    display: flex;
    align-items: center;
    color: lightgray;
    transition: .3s;
    font-size: 15px;
}

.nav-menu a i, .nav-menu a:focus {
    font-size: 24px;
    padding-right: .8rem;
    color: gray;
}

.nav-menu a:hover, .nav-menu .active, .nav-menu .active:focus, .nav-menu li:hover > a {
    text-decoration: none;
    color: white;
}

.nav-menu a:hover i, .nav-menu .active i, .nav-menu .active:focus i, .nav-menu li:hover > a i {
    color: #00e46b;
}

#main {
    margin-left: 300px;
}

section#inicio {
    background-image: url("./img/setup.dev.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    height: 100vh;
}

section#inicio h2 {
    font-size: 6rem;
}

section#inicio span#subtitle {
    
    font-size: 1.5rem;
}

.text-shadow {
    text-shadow: -4px -4px 3px black;
}

section#inicio div#arraste {
    width: 9rem;
}

section#inicio div#arraste a {
    text-decoration: none;
    color: white;
}

i.menu-mobile {
    position: fixed;
    color: white;
    background-color: #0c3916;
    right: 1rem;
    top: 1rem;
    font-size: 1.5rem;
    border-radius: 4rem;
    cursor: pointer;
    z-index: 10;
    width: 45px;
    height: 45px;
    display: none;
    justify-content: center;
    align-items: center;
}

.menu-nav-active {
    overflow: hidden;
}

.menu-nav-active #header {
    left: 0;
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    width: 12px;
    box-shadow: inset 0 0 .3rem black;
    background-color: white;
}

*::-webkit-scrollbar-thumb {
    background-color: #0c3916;
}

.section-bg {
    background-color: #eff5ff;
}

span.carousel-control-prev-icon {
    background-color: gray;
    border-radius: 50%;
}

span.carousel-control-next-icon {
    background-color: gray;
    border-radius: 50%;
}

#icon_carousel {
    background-color: gray;
}

.cv .cv-title {
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    color: black;
}

.cv .cv-item {
    padding: 0px 0px 20px 20px;
    margin-top: -2px;
    border-left: 2px solid #1f5297;
    position: relative;
}

.cv .cv-item h4 {
    line-height: 18px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "poppins", sans-serif;
    color: black;
    margin-bottom: 10px;
}

.cv .cv-item h5 {
    background: lightgray;
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
}

.cv .cv-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: -9px;
    width: 16px;
    height: 16px;
    border: 2px solid #1f5297;
    background: white;
    border-radius: 50%;
}

.carousel-control-prev {
    margin-left: -8rem;
}

.carousel-control-next {
    margin-right: -8rem;
}

.carousel-indicators {
    margin-bottom: -35px;
}

.card {
    background-color: rgba(236, 236, 236, 0.596);
}

#footer {
    padding: 15px;
    color: white;
    font-size: 14px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 300px;
    z-index: 9999;
    background-color: #0c3916;
    transition: .3s;
}