@media (max-width: 1024px) {
    #header {
        left: -300px;
    }

    i.menu-mobile {
        display: flex;
    }

    section#inicio h2 {
        font-size: 3.5rem;

    }

    section#inicio span#subtitle {
        margin-right: 0;
        font-size: 1rem;
    }

    #main {
        margin-left: 0px;
    }
}

@media (max-width: 1860px) {

    .carousel-control-prev {
    margin-left: 0;
    }

    .carousel-control-next {
    margin-right: 0;
    }
}